.top-banner {
  height: 140px;
  width: 95%;
  //   background-color: green;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  justify-content: space-evenly;
  //   margin: 0 auto;
  margin-left: 40px;
  display: block;

  .search-banner {
    height: 88px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      background-image: url(../assests/images/keurig-logo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 35px;
      width: 180px;
    }

    .search-bar {
      width: 603px;
      min-height: 40px;
      //   background-color: red;
      display: flex;
      align-items: center;
      background-color: rgb(233, 233, 233);
      border-radius: 20.5px;

      .search-icon {
        margin-left: 10px;
        height: 30px;
        width: 34px;
        background-image: url(../assests/images/search-icon.svg);
        // background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .search-input {
        padding-left: 5px;
        width: 545px;
        height: 30px;
        background-color: rgb(233, 233, 233);
        border: none;
      }
    }

    .cart-cluster {
      height: 38px;
      width: 276px;
      //   background-color: red;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .shipping-info {
      }

      .profile-icon {
        // margin-left: 10px;
        height: 30px;
        width: 34px;
        background-image: url(../assests/images/profile-icon.svg);
        // background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .shopping-cart-icon {
        height: 30px;
        width: 34px;
        background-image: url(../assests/images/cart-icon.svg);
        // background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .nav-links {
    // background-color: red;
    width: 80%;
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: rgb(51, 51, 51);
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      line-height: 26px;
      text-transform: uppercase;
    }
  }
}

.menu-icon {
  height: 30px;
  width: 60px;
  cursor: pointer;
  padding-top: 15px;
  padding-left: 15px;
  display: none;

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
}

@media only screen and (max-width: 1000px) {
  .top-banner {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
