.home {
  margin-top: 15px;
  width: 100%;
  min-height: 100%;
  //   background-color: red;

  .image-banner {
    width: 80%;
    min-height: 210px;
    background-image: url(../assests/images/keurig-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }

  .sort-options-banner {
    width: 80%;
    margin: 20px auto;

    .options-container {
      display: flex;
      // background-color: red;
      align-items: center;

      .sort-option-box {
        height: 51px;
        width: 129px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // background-color: green;
        border-style: solid;
        border-width: 2.5px;
        margin-right: 10px;
        border-color: rgb(153, 153, 153);
        border-radius: 4px;

        .sort-option-text {
          font-family: Arial, Helvetica, sans-serif;
          color: rgb(153, 153, 153);
          font-size: 14px;
          text-align: center;
          // background-color: blue;
          align-items: center;
        }

        .down-arrow {
          height: 12px;
          // margin-bottom: 12px;
          fill: rgb(153, 153, 153);
        }
      }
    }
  }
}
